{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}
<h1>Train to Trade<small class="text-muted"> US Stocks</small></h1>
<div>
    <h4>A real-time practice ground for trading* in any listed US stock.</h4>
    <p>
        The best way to learn is by doing. The <strong>Train to Trade</strong> simulation helps you buy and sell shares,
        and manage a
        stock portfolio*. Seasoned investors use <strong>Train to Trade</strong> as their sandbox account to make
        experimental bets
        with their portfolio. For investors new to stock investing, it prepares you first hand for the movements of a
        stock market with zero risks. Experiment away!
    </p>
    <p class="text-muted">*NO real money involved. Designed purely for hands-on learning and practice. Uses US Stocks
        data provided by IEX.</p>

    <h2>How do I get started?</h2>
    <ol>
        <li>Register as a new user or Login as an existing user</li>
        <li>Start off with $10,000 as "cash balance"</li>
        <li>Find quotes of the stocks you are interested in real-time</li>
        <li>Buy shares with your cash balance, sell shares and manage your portfolio</li>
        <li>View your transaction history under your account</li>
    </ol>
    <p>All the best!</p>
</div>
<div>
    <p>Click <a href="/buy">here</a> to get started and buy new shares</p><br>
</div>
{% endblock %}