{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}
<h1>Train to Trade</h1>
<div>
    <h4>A real-time practice ground for trading* in any listed US stock.</h4><hr>
    <p>The best way to learn is by doing. The <strong>Train to Trade</strong> simulation helps you buy and sell shares,
        and manage a stock portfolio*.</p> 
    <p>Seasoned investors use <strong>Train to Trade</strong> as their sandbox account to make
        experimental bets with their portfolio.</p>
    <p>For investors new to stock investing, it prepares you first hand for the movements of a
        stock market with zero risks. Experiment away!</p>
    </p>
    <p class="text-muted">*NO real money involved. Designed purely for hands-on learning and practice. Uses US stocks
        data provided by IEX.</p>

    <h2>Getting started</h2>
    <ol>
        <li><a href="/register">Register</a> as a new user or <a href="/login">Login</a> as an existing user</li>
        <li>Start off with $10,000 as "cash balance"</li>
        <li>Find real time quotes of the stocks you are interested in</li>
        <li>Buy shares with your cash balance, sell shares and manage your overall portfolio</li>
        <li>View your transaction history under your account any time</li>
    </ol>
    <p>ALL THE BEST!</p>
</div>
<div>
    <p>Click <a href="/buy">here</a> to get started and buy new shares</p><br>
</div>
{% endblock %}