{% extends "layout.html" %}
{% block head %}
<script defer src="{{url_for('static', filename='js/changepwd.js')}}"></script>
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block main %}
<h4>Change Password</h4>
<form action="/changepwd" method="post">
    <!-- <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"
            required>
    </div> -->
    <div class="form-group">
        <input class="form-control" name="oldpassword" id="oldpassword" placeholder="Old Password" type="password"
            required>
    </div>
    <div class="form-group">
        <input class="form-control" name="newpassword" id="newpassword" placeholder="New Password" type="password"
            pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,12}"
            title="Must not be the same as old password. Must contain at least one number, one alphabet. Must have 6-12 characters."
            required>
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" id="confirmation" placeholder="Confirm New Password"
            type="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}