{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h1>{{ username }}<small class="text-muted"> Portfolio</small></h1>
{% if portfolio|length < 1 %}
<h4>📒 No shares here!</h4><br>
<p>Click <a href="/buy">here</a> to buy new shares</p><br>
<p class="bg-light text-black-50">Cash Balance: {{ balance|usd }}</p>
<p class="bg-dark text-white-50">Overall Portfolio Value: {{ overall|usd }}</p>
{% else %}
<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tfoot class="table-success">
        <td colspan="4">Portfolio Value</td>
        <td>{{ overall|usd }}</td>
    </tfoot>
    {% for sym in portfolio %}
    <tr>
        <td scope="row">{{ sym.symbol }}</td>
        <td>{{ sym.name }}</td>
        <td>{{ sym.shares }}</td>
        <td>{{ sym.price|usd }}</td>
        <td>{{ sym.total|usd }}</td>
    </tr>
    {% endfor %}
    <tr class="table-info">
        <td colspan="4">Cash Balance</td>
        <td>{{ balance|usd }}</td>
    </tr>
</table>
{% endif %}
{% endblock %}