{% extends "layout.html" %}
{% block head %}
<!-- <script defer src="{{url_for('static', filename='js/register.js')}}"></script> -->
{% endblock %}

{% block title %}Sell Stock{% endblock %}

{% block main %}
{% if stocks|length < 1 %}
<h4>No stocks here to sell!</h4><br>
<p>Click <a href="/buy">here</a> to buy shares first</p><br>
{% else %}
<h4>Choose stock to sell</h4><br>
<form action="/sell" method="post">
    <div class="form-group">
        <select autofocus class="form-control" name="symbol" id="symbol" required>
            <option disabled selected value="">Select Stock</option>
            {% for sym in stocks %}
            <option value="{{ sym.symbol }}">{{ sym.symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="number" min="1"
            title="Kindly enter a number" required>
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endif %}
{% endblock %}
